html, body {
  height: 100%;
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: xx-large;
}

html {
  display: table;
  margin: auto;
}

body {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: 0px solid white;  
  border-bottom: 1px solid white;
  color: white;
}

span {
  cursor: pointer;
}

.main {
  width: 250px;
  border-radius: 5px;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;

  background-color: rgba(5, 5, 5, 0.5)
}

.random_RGB {
  display: flex;
  flex-direction: row;
}

.random_RGB > div {
  flex: 50%;
}

.Hexi {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.Refresh, .random_RGB, .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.Refresh {
  display: flex;
  flex-direction: row;
}
